*{
    font-family: Noto Sans KR , sans-serif;
    font-size: 12pt;
}
body{
    background-color: rgb(223, 223, 223);
}

.main-container{
    width: 50%;
    margin: 30vh auto 0;
}

.tip-test-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 4px black;
    padding: 1em .5em;
    margin: 1em 0;
}
#tipTest{
    padding: .5em .25em;
    border-radius: 4px;
    box-shadow: 0 0 2px rgb(104, 104, 104);
    margin-left: 2em;
}
.generare-container{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 2px rgb(104, 104, 104);

}
.generare-buton{
    width:20%;
    padding: 1em .5em;
    background-color: #596bff;
    color: white;
    border: none;
    cursor: pointer;
}
.linkGenerat{
    width: 80%;
    padding: 1em .5em;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.copy-button{
    padding: 1em .5em;
    background-color: #596bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13pt;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


.timerContainer{
    position:fixed;
    top:0;
    right:50px;
    text-align: center;
}
.intrebare{
    padding-right:200px;
}
.token-h3{
    text-align: center;
    font-size: 16pt;
}
.start-button{
    padding: 1em 1.5em;
    background-color: #596bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13pt;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
}
#chestionar h1,#titluRezultat{
    text-align: center;
    font-size: 16pt;
    margin-bottom: 3em;
    margin-top: 1em;
}
.intrebare{
    margin-bottom: 3em;
    font-size: 14pt;
    margin-left: 1em;
}
.intrebare label{
    font-weight: normal;
    font-size: 12pt;
    display: block;
    margin-top: .35em;
    cursor: pointer;
}
#submitButton{
    padding: 1em 1.5em;
    background-color: #596bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13pt;
    margin: 0 auto 2em;
    display: block;
    border-radius: 4px;
}
@media(max-width:800px){
    .intrebare{
        padding-right: 2em;
    }
}